@import url("universal.css");

.container {
    display: grid;
}

/* Grid layout */
.container {
    display: grid;
    grid-template-areas:
        "image"
        "contacts"
        "info"
        "projects";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
}

/* Медиа-запрос для планшетов и больших экранов */
@media screen and (min-width: 768px) {
    .container {
        grid-template-areas:
            "image info"
            "contacts info"
            "projects projects";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
    }
}

/* Медиа-запрос для больших экранов */
@media screen and (min-width: 1024px) {
    .container {
        grid-template-areas:
            "image info"
            "contacts info"
            "projects projects";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr auto;
    }
}

#image {
    grid-area: image;
    width: 300px;
}
#contacts {
    grid-area: contacts;
}
#info {
    grid-area: info;
}
#projects {
    grid-area: projects;
}

#info p {
    text-align: justify;
}

.contact {
    vertical-align: middle;
}

.contact a {
    color: white;
}.contact a:hover {
    color: var(--lavender);
}


.contact img {
    width: 16pt;

}
.contact svg {
    width: 16pt;
}
.contact a {
    font-size: 16pt;
    text-decoration: none;
}

.project-container {
    margin: 10px;
    padding: 10px;

    border-style: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;

}
.project-title {
    vertical-align: middle;
}
.project-title a {
    font-size: 20pt;
    text-decoration: none;
}
.project-title img {
    width: 30px;
    height: auto;
}
.project-title svg {
    width: 30px;
    height: auto;
}
.project-description {
    text-align: justify;

}
.project-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-gallery img {
    margin: 5px;

    border-style: none;
    width: 100%;
    max-width: 480px;
    height: auto;
}
.project-gallery iframe {
    margin: 5px;

    border-style: none;
    width: 100%;
    max-width: 480px;
    height: 270px;
}