@import url("universal.css");

.title {
    font-size: 32pt;
}
#first-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#first-block p {
    width: 500px;
    height: auto;
    text-align: justify;
}