@import url("universal.css");

#news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post {
    background-image: linear-gradient(to top, var(--color-primary) 0%, var(--color-neutral) 100%);
    width: 20rem;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;

    transition: 0.5s ease;
    text-decoration: none;
}

.post:hover {
    transform: scale(1.05);
}
.post h2 {
    text-align: center;
}
.post p {
    text-align: justify;
}

.post img {
    width: 20rem;
    height: auto;
    border-radius: 10px;
}